:root{
    --light-gray: #e9ecef;
    --main-color: #7f5539;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/poppins-regular-webfont.woff2) format(woff2);
    src: url(../fonts/poppins-regular-webfont.woff) format(woff);

    font-style: normal;
}

@font-face {
    font-family: logo;
    src: url(../fonts/norse-bold-webfont.woff2) format(woff2);
    src: url(../fonts/norse-bold-webfont.woff) format(woff);

    font-weight: normal;
    font-style: normal;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
    
    font-family: Helvetica;
    font-size: 1.6rem;
    line-height: 1.5;
}

html, body{
    height: 100%;
}

h1{
    font-size: 2.6rem;
    margin: 0;
}
h2{
    font-size: 2.4rem;
}

p{
    font-size: 1.8rem;
    margin: 0;
}

.container{
    min-height: 100%;
    display: flex;
}

.bg-container{
    flex: 1 0 0%;
    background-image: url(../img/nathan-dumlao-zTZRZV86GhE-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.logo{
    transform: translateY(150%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.logo-img{
    height: 135px;
    width: auto;
}

.odin-font{
    font-family: logo;
    font-size: 10rem;
    color: #fff;
    margin: 0;
}



.info-container{
    flex: 1.5 0 0;
}

.info{
    width: 100%;
    background-color: var(--light-gray);
    padding: 10rem 4rem 4rem 4rem;
}

.info p{
    font-weight: 900;
    font-size: 2.2rem;
    line-height: 1.2;
}

.italic{
    font-style: italic;
}

.youknow{
    margin: 2.5rem 0;
}

.first-section{
    padding:4rem;
    box-shadow: 0px 8px 36px -18px rgba(0,0,0,1);
}

.inputs-container{
    display: flex;
    gap: 2rem;
}

.first-column{
    flex: 1 0 50%;
}
.second-column{
    flex: 1 0 50%;
}

label{
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
}

input{
    padding: 0.5rem 1rem;
    margin: 0;
    width: 90%;
    border: 0.2rem solid var(--light-gray);
    border-radius: 0.5rem;
}
.data-field{
    margin: 2rem 0;
}

.send-data{
    padding: 4rem 4rem 5rem 4rem;
    background-color: var(--light-gray);
}

button{
    padding: 1.5rem 5rem;
    border: none;
    border-radius: .5rem;
    color: #fff;
    background-color: var(--main-color);
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

button:hover{
    cursor: pointer;
    background-color: #9c6644;
    color: #000;
}

.login{
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
}